   {% load static %}
 <footer class="footer mt-5">
    <div class="footer-container">
        <div class="footer-col">
            <a href="/" class="footer-logo-link">
                <img src="{% static 'images/logo.png' %}" alt="Logo e Dyqani Im" class="footer-logo">
            </a>
            
            <div class="social-links">
              <a href="#" class="ig"><i class="fab fa-instagram"></i></a>
              <a href="#" class="tt"><i class="fab fa-tiktok"></i></a>
              <a href="#" class="wa"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>

        <div class="footer-col">
            <h4>Informacion</h4>
            <ul>
                <!-- <li><a href="#">Rreth Nesh</a></li>
                <li><a href="#">Blogu</a></li>
                <li><a href="#">Karriera</a></li>
                <li><a href="#">Kontakt</a></li> -->
            </ul>
        </div>

        <div class="footer-col">
            <h4>Mbështetja</h4>
            <!-- <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Gjurmo Porosinë</a></li>
                <li><a href="#">Politika e Kthimit</a></li>
                <li><a href="#">Termat dhe Kushtet</a></li>
            </ul> -->
        </div>

        <div class="footer-col">
            <h4>Na Kontaktoni</h4>
            <p>📧 support@dyqaniyt.al</p>
            <p>📱 +355 6X XXX XXXX</p>
            <div class="payment-methods">
                <span>💳 Visa / Paguaj ne dorezim</span>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2026 Dyqani Im. Të gjitha të drejtat e rezervuara.</p>
    </div>
</footer>
      <!-- fund footer -->     
